<% include ../views/partials/header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <% bg.forEach(function(blog) { %>
        <div>
            <h2><%= blog.title %></h2>
            <img src="<%= blog.Image %>" alt="Chutiya net">
            <p><strong>Date: </strong><%= blog.created %></p>
            <p><%= blog.body %></p>
        </div>
    <% }) %>
</body>
</html>


<% include ../views/partials/footer %>