<% include ../views/partials/header %>

    <% bg.forEach(function(blog) { %>
        <div id="blog">
            <h2><%= blog.title %></h2>
            <img src="<%= blog.image %>" alt="Chutiya net">
            <p><strong>Date: </strong><%= blog.created %></p>
            <p><%= blog.body %></p>
        </div>
    <% }) %>



<% include ../views/partials/footer %>