<% include ../views/partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="name" required>
        </div>
        <div class="field">
            <label>Image url</label>
            <input type="url" name="blog[image]" placeholder="Image url" required>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <!-- <input type="text" name="blog[title]" placeholder="name"> -->
            <textarea name="blog[body]" placeholder="Please write your blog here" required></textarea>
        </div>
        <input class="ui violet basic button" type="submit">
    </form>
</div>


<% include ../views/partials/footer %>